<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="col-11 container mt-5 shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row p-1 m-2">
            <div class="col" style="width: 32px;"> 
                <label for="idcontrato" class="form-label"> ID contrato:</label>
                <input type="text" name= "idcontrato" id="idcontrato" class="form-control">
            </div>

            <div class="col">
                <label for="colaborador" class="form-label">Colaborador:</label>
                <select name="colaborador" id="colaborador" class="form-select"></select>
            </div>

            <div class="col">
                <label for="fechacontrato" class="form-label">Fecha contrato:</label>
                <input type="text" name="fechacontrato" id="fechacontrato" class="form-control">
            </div>

            <div class="col">
                <label for="numerocontrato" class="form-label">Numero de contrato:</label>
                <input type="text" name="numerocontrato" id="fechacontrato" class="form-control">
            </div>
        </div>

        <div class="row p-1 m-2">
            <div class="col">
                <label for="idpais" class="form-label"> ID pais: </label>
                <select name="idpais" id="idpais" class="form-select"></select>
            </div>

            <div class="col">
                <label for="estadoprovinciadpto" class="form-label">Estado, Provincia y Departamento:</label>
                <input type="text" name="estadoprovinciadpto" id="estadoprovinciadpto" class="form-control">
            </div>

            <div class="col">
                <label for="institucion" class="form-label">Institución:</label>
                <input type="text" name= "institucion" id = "institucion" class="form-control">
            </div>

            <div class="col">
                <label for="localizacion" class="form-label">Localización:</label>
                <input type="text" name="localizacion" id="localizacion" class="form-control">
            </div>
        </div>

        <div class="row p-1 m-2">
            <div class="col">
                <label for="funcionrealizar" class="form-label">Función a relizar: </label>
                <input type="text" name="funcionrealizar" id = "funcionrealizar" class="form-control">
            </div>

            <div class="col">
                <label for="fechasalida" class="form-label">Fecha salida:</label>
                <input type="date" name="fechasalida" id="fechasalida" class="form-control">
            </div>

            <div class="col">
                <label for="fecharegreso" class="form-label">Fecha regreso:</label>
                <input type="date" name="fecharegreso" id="fecharegreso" class="form-control">
            </div>
        
            <div class="col">
                <label for="idformapago" class="form-label"> ID forma pago:</label>
                <select name="idformapago" id="idformapago" class="form-select"></select>
            </div>
        </div>

        <div class="row p-1 m-2">
            <div class="col">
                <label for="idtiposalida" class="form-label" >ID tipo salida:</label>
                <select name="idtiposalida" id="idtiposalida" class="form-select"></select>
            </div>
        
            <div class="col">
                <label for="viatico" class="form-label">Viatico:</label>
                <input type="text" name="viatico" id="viatico" class="form-control">
            </div>

            <div class="col">
                <label for="ingresospt" class="form-label">Ingresospt:</label>
                <input type="text" name="ingresospt" id="ingresospt" class="form-control">
            </div>

            <div class="col">
                <label for="ingresoaporte" class="form-label"> Ingresoaporte:</label>
                <input type="text" name="ingresoaporte" id="ingresoaporte" class="form-control">
            </div>
        </div>

        <div class="row p-1 m-3" >
            <div class="col">
                <label for="totalingreso" class="form-label">Totalingreso:</label>
                <input type="text" name= "totalingreso" id="totalingreso" class="form-control" >
            </div>

            <div class="col">
                <label for="iddeposito" class="form-label">IDdeposito:</label>
                <select name="iddeposito" id="iddeposito" class="form-select" ></select>
            </div>

            <div class="col">
                <label for="idactividad" class="form-label">IDactividad:</label>
                <select name="idactividad" id="idactividad" class="form-select" ></select>
            </div>

            <div class="col">
                <label for="idtipomision" class="form-label">IDtipomision:</label>
                <select name="idtipomision" id="idtipomision" class="form-select" ></select>
            </div>

            <div class="col">
                <label for="idsalida"> ID salida:</label>
                <select name="idsalida" id="idsalida" class="form-select" ></select>
            </div>
        </div>
    </div>
</body>
</html>