<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="col-8 container mt-5 p-5 shadow p-3 mb-5 bg-body-tertiary rounded">

        <div class="row">

            <div class="col">
                <label for="idexpediente" class="form-label">IDexpediente: </label>
                <input type="text" name="idexpediente " id="idexpediente" class="form-control">
            </div>

            <div class="col">
                <label for="numeroexpediente" class="form-label">Numeroexpediente: </label>
                <input type="text" name="numeroexpediente" id="numeroexpediente" class="form-control">
            </div>

            <div class="col">
                <label for="fechanotaverbal" class="form-label">Fechanotaverbal:</label>
                <input type="text" name="fechanotaverbal " id="fechanotaverbal" class="form-control">
            </div>

        </div>
 
        <div class="row">
                <div class="col">
                    <label for="solicitadopor" class="form-label">Solicitadopor:</label>
                    <input type="text" name="solicitadopor " id="solicitadopor" class="form-control">
                </div>

                <div class="col">
                    <label for="fechasalida" class="form-label">Fechasalida: </label>
                    <input type="date" name="fechasalida " id="fechasalida" class="form-control">
                </div>

                <div class="col">
                    <label for="fecharegreso" class="form-label">Fecharegreso: </label>
                    <input type="date" name="fecharegreso " id="fecharegreso" class="form-control">
                </div>
        </div>

        <div class="row">

            <div class="col">
                <label for="estancia" class="form-label">Estancia: </label>
                <input type="text" name="estancia " id="estancia" class="form-control">
            </div>

            <div class="col">
                <label for="motivoviaje" class="form-label">Motivoviaje: </label>
                <input type="text" name="motivoviaje " id="motivoviaje" class="form-control">
            </div>

            <div class="col">
                <label for="usuariocreador" class="form-label">Usuariocreador: </label>
                <input type="text" name="usuariocreador " id="usuariocreador" class="form-control">
            </div>
            
        </div>
        <div class="row">
            
            <div class="col">
                <label for="fechacracion" class="form-label">Fechacracion: </label>
                <input type="date" name="fechacracion " id="fechacracion" class="form-control">
            </div>

            <div class="col">
                <label for="idpasaporterequerido" class="form-label">IDpasaporterequerido: </label>
                <input type="text" name="idpasaporterequerido " id="idpasaporterequerido" class="form-control">
            </div>
            <div class="col">
                <label for="idtipoactividad" class="form-label">IDtipoactividad: </label>
                <input type="text" name="idtipoactividad " id="idtipoactividad" class="form-control">
            </div>
        </div>
    </div>
</body>
</html>