<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Pasaporte</title>
</head>
<body>
    <div class="col-md-6 container mt-5 p-5 shadow p-3 mb-5 bg-body-tertiary rounded">

        <div class="col">
            <label for="numeropasaporte" class="form-label">Números pasaporte: </label>
            <input type="text" name="numeropasaporte " id="numeropasaporte" class="form-control">

            <label for="idcolaborador" class="form-label">IDcolaborador: </label>
            <input type="text" name="idcolaborador " id="idcolaborador" class="form-control">

            <label for="tipopasaporte" class="form-label">Tipopasaporte:</label>
            <input type="text" name="tipopasaporte " id="tipopasaporte" class="form-control">

            <label for="fechaexpedicion" class="form-label">Fechaexpedicion:</label>
            <input type="date" name="fechaexpedicion " id="fechaexpedicion" class="form-control">

            <label for="fechavencimiento" class="form-label">Fechavencimiento: </label>
            <input type="date" name="fechavencimiento " id="fechavencimiento" class="form-control">

            <label for="ubicacion" class="form-label">Ubicacion: </label>
            <input type="text" name="ubicacion " id="ubicacion" class="form-control">
        </div>
    </div>
</body>
</html>